<div class="container">
  <div class="header-inner">
    <h1>
      <a href="#">
        <img
          src="https://revehit.github.io/oneshot/assets/images/img-toplogo.png"
          alt=""
        />
      </a>
    </h1>
    <span class="text-bold">사업재편종합지원센터</span>
    <nav>
      <ul>
        <li><a href="">소개</a></li>
        <li><a href="">기업활력법이란?</a></li>
        <li><a href="">주요지원내용</a></li>
        <li><a href="">신청방법</a></li>
        <li><a href="">정보마당</a></li>
        <li><a href="">소통광장</a></li>
        <li><a href="">사업재편종합지원센터</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- header addclass -->
<!-- <script type="text/javascript">
  $(window).on("scroll", function () {
    if ($(window).scrollTop()) {
      $("#header").addClass("active");
    } else {
      $("#header").removeClass("active");
    }
  });
</script> -->
