.section1 {
  .box-outer {
    display: flex;
    gap: 20px;
    .left {
      width: 50%;
      .box {
        height: 100%;
        display: flex;
        position: relative;
      }
      h2 {
        margin-top: auto;
        position: absolute;
        bottom: 90px;
        left: 90px;
        z-index: 2;
      }
      .bx-wrapper {
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 1;
        box-shadow: none;
        border: 0;
        margin: 0;
        .bx-viewport {
          height: 100% !important;
        }
        .slide-item {
          height: 100% !important;
          img {
            height: 580px;
          }
        }
        .bx-pager {
          position: absolute;
          bottom: 50px;
          left: 50%;
          transform: translateX(-50%);
        }
        .bx-pager-link {
          color: #666;
          background: #666;
          &.active {
            background: var(--color-white);
          }
          &:hover {
            background: var(--color-white);
          }
        }
      }
    }
    .right {
      width: 50%;
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      a {
        width: calc(50% - 10px);
        height: 280px;
        padding: 50px;
        background-color: #f0f2fa;
        position: relative;
        transition: all 0.4s;
        &:hover {
          background-color: var(--color-point);
          h3,
          p {
            color: var(--color-white);
          }
          img {
            -webkit-animation-duration: 1s;
            animation-duration: 1s;
            -webkit-animation-name: bounce;
            animation-name: bounce;
          }
        }
        img {
          width: 100px;
          position: absolute;
          bottom: 30px;
          right: 30px;
        }
        .sd {
          position: absolute;
          bottom: 20px;
          right: 20px;
          &::after {
            content: "";
            width: 130px;
            height: 17px;
            display: block;
            background-image: url(https://revehit.github.io/oneshot2/assets/images/icon-sec1-sd.png);
            background-repeat: no-repeat;
            background-size: cover;
          }
        }
      }
    }
  }
}

.box {
  border-radius: 30px;
  overflow: hidden;
  h2 {
    font-size: 55px;
    color: var(--color-white);
  }
  h3 {
    font-size: 26px;
    color: var(--color-darken);
    padding-bottom: 30px;
  }
  .sub-text {
    color: #666;
    line-height: 1.5;
  }
}
