header {
  width: 100%;
}
header.active {
  background-color: var(--color-white);
  border-bottom: 1px solid #c8c8c8;
}
header.active .header-inner h1 img {
  height: 44px;
  content: url(https://revehit.github.io/oneshot2/images/img-toplogo-bk.png);
}
header.active .header-inner span {
  color: #111;
}
header.active .header-inner nav li a {
  color: #111;
}
header h1 img {
  height: 44px;
  content: url(https://revehit.github.io/oneshot2/images/img-toplogo.png);
}

.header-inner {
  display: flex;
  align-items: center;
}
.header-inner span {
  font-size: 16px;
  padding-left: 20px;
}
.header-inner nav {
  margin-left: auto;
  padding: 50px 0;
}
.header-inner nav ul {
  display: flex;
}
.header-inner nav li a {
  font-size: 21px;
  font-weight: bold;
  color: var(--color-darken);
}
.header-inner nav li + li {
  margin-left: 50px;
}

footer img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.section1 .box-outer {
  display: flex;
  gap: 20px;
}
.section1 .box-outer .left {
  width: 50%;
}
.section1 .box-outer .left .box {
  height: 100%;
  display: flex;
  background-image: url(https://revehit.github.io/oneshot2/images/img-sec1-main);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 90px;
}
.section1 .box-outer .left h2 {
  margin-top: auto;
}
.section1 .box-outer .right {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.section1 .box-outer .right a {
  width: calc(50% - 10px);
  min-height: 320px;
  padding: 70px 50px;
  background-color: #f0f2fa;
  position: relative;
  transition: all 0.4s;
}
.section1 .box-outer .right a:hover {
  background-color: var(--color-point);
}
.section1 .box-outer .right a:hover h3,
.section1 .box-outer .right a:hover p {
  color: var(--color-white);
}
.section1 .box-outer .right a:hover img {
  animation-duration: 1s;
  animation-name: bounce;
}
.section1 .box-outer .right a img {
  width: 100px;
  position: absolute;
  bottom: 30px;
  right: 30px;
}
.section1 .box-outer .right a .sd {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
.section1 .box-outer .right a .sd::after {
  content: "";
  width: 130px;
  height: 17px;
  display: block;
  background-image: url(https://revehit.github.io/oneshot2/images/icon-sec1-sd.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.box {
  border-radius: 30px;
  overflow: hidden;
}
.box h2 {
  font-size: 55px;
  color: var(--color-white);
}
.box h3 {
  font-size: 26px;
  color: var(--color-darken);
  padding-bottom: 30px;
}
.box .sub-text {
  color: #666;
  line-height: 1.5;
}

.section2 {
  margin: 100px 0;
}
.section2 h3 {
  font-size: 40px;
  text-align: center;
  padding-bottom: 60px;
}
.section2 .box-outer {
  background-image: url(https://revehit.github.io/oneshot2/images/img-sec2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 100px 0;
}
.section2 .box-outer .box {
  max-width: 350px;
  background-color: var(--color-white);
  padding: 30px;
}
.section2 .box-outer .box .point {
  font-size: 20px;
  font-weight: bold;
}
.section2 .box-outer .box .title-text {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.3;
  margin-top: 30px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.section2 .box-outer .box .content-text {
  margin-top: 10px;
  margin-bottom: 60px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.section2 .box-outer .box .go-link {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--color-darken);
  display: flex;
  align-items: center;
  justify-content: center;
}
.section2 .box-outer .box .go-link img {
  -o-object-fit: cover;
     object-fit: cover;
}
.section2 .box-outer .box .date {
  font-size: 14px;
  color: #666;
}
.section2 .box-outer .box:hover {
  background-color: var(--color-point);
}
.section2 .box-outer .box:hover * {
  color: var(--color-white);
}
.section2 .box-outer .box:hover .go-link {
  background-color: var(--color-white);
}
.section2 .box-outer .box:hover .go-link img {
  filter: brightness(0) saturate(100%) invert(14%) sepia(76%) saturate(2342%) hue-rotate(216deg) brightness(102%) contrast(100%);
}

.section3 .title-with-btn {
  position: relative;
  margin-bottom: 60px;
}
.section3 .title-with-btn .control-box {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.section3 h3 {
  font-size: 45px;
  text-align: center;
}
.section3 .slider-wrap {
  display: flex;
  align-items: center;
}
.section3 .bx-wrapper {
  box-shadow: none;
  border: 0;
  max-width: 100%;
}
.section3 .control-box {
  display: flex;
  align-items: center;
  gap: 10px;
}
.section3 .btn {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #c8c8c8;
}/*# sourceMappingURL=components.css.map */