<div class="container">
  <div class="box-outer">
    <div class="left">
      <a href="javascript:void(0);" class="box">
        <h2>사업재편기업에<br />대한 다양한 지원</h2>
      </a>
    </div>
    <div class="right">
      <a href="javascript:void(0);" class="box box1">
        <h3>기업활력법 소개</h3>
        <p class="sub-text">
          사업재편 추진시 이를 신속하게<br />진행할 수 있도록 특례를 부여
        </p>
        <img
          src="https://revehit.github.io/oneshot2//images/icon-sec1-1.png"
          alt=""
        />
        <span class="sd"></span>
      </a>
      <a href="javascript:void(0);" class="box box2">
        <h3>주요지원 혜택</h3>
        <p class="sub-text">
          「상법」 및 「자본시장과 금융투자업에<br />관한 법률」상 특례 주요내용
        </p>
        <img
          src="https://revehit.github.io/oneshot2//images/icon-sec1-2.png"
          alt=""
        />
        <span class="sd"></span>
      </a>
      <a href="javascript:void(0);" class="box box3">
        <h3>지원 신청</h3>
        <p class="sub-text">
          과잉공급 / 신산업진출 / 산업위기지역<br />정보를 확인하세요
        </p>
        <img
          src="https://revehit.github.io/oneshot2//images/icon-sec1-3.png"
          alt=""
        />
        <span class="sd"></span>
      </a>
      <a href="javascript:void(0);" class="box box4">
        <h3>법령정보</h3>
        <p class="sub-text">
          기억활력법 / 관계법령 / 회계규정<br />세무규정 / 각종 법률정보
          검색안내
        </p>
        <img
          src="https://revehit.github.io/oneshot2//images/icon-sec1-4.png"
          alt=""
        />
        <span class="sd"></span>
      </a>
    </div>
  </div>
</div>
