<div class="container fluid">
  <h3 class="icon-title notice">알려드려요</h3>
  <div class="box-outer slide-up">
    <a href="javascript:void(0);" class="box slide-item1">
      <p class="point">공표사항</p>
      <p class="title-text">사업재편계획 승인, 변경승인 및 승인 취소 공고</p>
      <p class="content-text">
        산업통상자원부 공고 제2024-524호 사업재편계획 승인, 변경 승인 및 승인
        취소 공고
      </p>
      <div class="flex align-center justify-space-between">
        <p class="date">2024.07.05</p>
        <span class="go-link">
          <img
            src="https://revehit.github.io/oneshot2/images/icon-arrow.png"
            alt=""
          />
        </span>
      </div>
    </a>
    <a href="javascript:void(0);" class="box slide-item2">
      <p class="point">언론보도</p>
      <p class="title-text">
        (보도자료) 1호 사업재편 현장지원센터, 동남권에 개소
      </p>
      <p class="content-text">
        산업통상자원부(장관 안덕근)는 지난 7.17(수)부터 시행된 기업 활력 제고를
        위한 회의를 주최했다.
      </p>
      <div class="flex align-center justify-space-between">
        <p class="date">2024.07.05</p>
        <span class="go-link">
          <img
            src="https://revehit.github.io/oneshot2/images/icon-arrow.png"
            alt=""
          />
        </span>
      </div>
    </a>
    <a href="javascript:void(0);" class="box slide-item3">
      <p class="point">공표사항</p>
      <p class="title-text">
        [공고] 사업재편 승인기업 대상 애로해소 컨설팅 신청 기업 모집
      </p>
      <p class="content-text">
        사업재편 승인기업 애로해소 지원 무료 컨설팅 시행 공고 - 승인기업의
        성공적인 사업재편
      </p>
      <div class="flex align-center justify-space-between">
        <p class="date">2024.07.05</p>
        <span class="go-link">
          <img
            src="https://revehit.github.io/oneshot2/images/icon-arrow.png"
            alt=""
          />
        </span>
      </div>
    </a>
  </div>
</div>
